Repository Aiko-IT-Systems/DisCatSharp.Extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

.github/CODEOWNERS:

* @Aiko-IT-Systems/discatsharp @NyuwBot @Lulalaby

*.yml @Lulalaby
*.ps1 @Lulalaby

*.targets @Aiko-IT-Systems/aitsys-leader
LICENSE.md @Aiko-IT-Systems/aitsys-leader
README.md @Aiko-IT-Systems/aitsys-leader

/.github/ @Lulalaby @NyuwBot @Aiko-IT-Systems/aitsys-leader

thins
  .github/workflows/documentation_test.yml
  .github/workflows/tweet.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

chore: Include DisCatSharp source projects in sln
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  DisCatSharp.Extensions.sln
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix build script
  .github/workflows/build.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

[ci skip] fix doc script
  .github/workflows/documentation.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

Create rebuild-docs.ps1
  rebuild-docs.ps1
Owners: @Lulalaby

stuff
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/ExtensionMethods.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorConfiguration.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtension.cs
  DisCatSharp.Extensions.sln
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix build script
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  DisCatSharp.Extensions.sln
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader, @Aiko-IT-Systems/discatsharp

exclude nyuw from build
  DisCatSharp.Extensions.sln
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix again
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/documentation.yml
  .github/workflows/release.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

Update TwoFactorConfiguration.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorConfiguration.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

thingsy sealed
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

allow to easily register 2fa extension
  DisCatSharp.Extensions.TwoFactorCommands/ExtensionMethods.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorConfiguration.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

add attributes
  DisCatSharp.Extensions.TwoFactorCommands/Attributes/RequireTwoFactorAuthAttribute.cs
  DisCatSharp.Extensions.TwoFactorCommands/Properties/AssemblyProperties.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

stuff
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorConfiguration.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

rework and finish base for ac
  DisCatSharp.Extensions.TwoFactorCommands/Enums/TwoFactorResponse.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/ApplicationCommandRequireTwoFactorAttribute.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/TwoFactorApplicationCommandExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/CommandsNext/CommandRequireTwoFactorAttribute.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/CommandsNext/TwoFactorCommandsNextExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtensionUtilities.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: Documentation for methods
  DisCatSharp.Extensions.TwoFactorCommands/Enums/TwoFactorResponse.cs
  DisCatSharp.Extensions.TwoFactorCommands/ExtensionMethods.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/TwoFactorApplicationCommandExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/CommandsNext/TwoFactorCommandsNextExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorConfiguration.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtensionUtilities.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] only run actions for main (pr target and push)
  .github/workflows/build.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

[ci skip] update things
  DisCatSharp.Extensions.sln
  Targets/DisCatSharp.targets
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

[ci skip] feat: string overrides
  DisCatSharp.Extensions.TwoFactorCommands/ExtensionMethods.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/TwoFactorApplicationCommandExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorConfiguration.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtensionUtilities.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] remove direct dcs reference in sln
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  DisCatSharp.Extensions.sln
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] code cleanup
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/ApplicationCommandRequireTwoFactorAttribute.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/CommandsNext/CommandRequireTwoFactorAttribute.cs
  DisCatSharp.Extensions.TwoFactorCommands/Properties/AssemblyProperties.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

stuff
  .github/workflows/build.yml
  .github/workflows/release.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

fix service provider things
  DisCatSharp.Extensions.TwoFactorCommands/ExtensionMethods.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

bump dcs
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update CommandRequireTwoFactorAttribute.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/CommandsNext/CommandRequireTwoFactorAttribute.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix(actions)!: documentation.yml
  .github/workflows/documentation.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

[ci skip] fix(actions): fix documentation.yml
  .github/workflows/documentation.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

[ci skip] thingsy
  .github/workflows/documentation.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

[ci skip] docs: intro continue
  DisCatSharp.Extensions.Docs/articles/extensions/twofactor_commands/intro.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] docs: xml docs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtensionUtilities.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] meh
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtensionUtilities.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] mwah
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtensionUtilities.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update TwoFactorExtensionUtilities.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtensionUtilities.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

add xrefmap for dcs docs
  DisCatSharp.Extensions.Docs/docfx.json
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

i hate xref :sweat:
  DisCatSharp.Extensions.Docs/articles/extensions/twofactor_commands/intro.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore: note that commands next is not implemented yet
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/CommandsNext/CommandRequireTwoFactorAttribute.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/CommandsNext/TwoFactorCommandsNextExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix!: proper naming of functions
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/ApplicationCommandRequireEnrolledTwoFactorAttribute.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/TwoFactorApplicationCommandExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/CommandsNext/CommandRequireEnrolledTwoFactorAttribute.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/CommandsNext/TwoFactorCommandsNextExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtensionUtilities.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: add article about how to use tfa
  DisCatSharp.Extensions.Docs/articles/extensions/twofactor_commands/intro.md
  DisCatSharp.Extensions.Docs/images/two_factor_enrollment_message_example.png
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] docs: Fix links
  DisCatSharp.Extensions.Docs/articles/extensions/twofactor_commands/intro.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] docs: Add example image
  DisCatSharp.Extensions.Docs/articles/extensions/twofactor_commands/intro.md
  DisCatSharp.Extensions.Docs/images/two_factor_request_example.png
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby
