Repository Aiko-IT-Systems/DisCatSharp.Extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

chore(deps): update analyzer
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

ignore vscode, apply dcs workspace settings
  .gitignore
  DisCatSharp.Extensions.code-workspace
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: critical bugs
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update release.yml
  .github/workflows/release.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

Update docfx.toc.schema.json
  DisCatSharp.Extensions.Docs/docfx.toc.schema.json
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: fix minor stuff
  DisCatSharp.Extensions.Docs/articles/index.md
  DisCatSharp.Extensions.Docs/articles/toc.yml
  DisCatSharp.Extensions.Docs/toc.yml
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore(versioning): bump to 3.0.1 for nightly
  Targets/Version.targets
Owners: @Aiko-IT-Systems/aitsys-leader

Update Version.targets
  Targets/Version.targets
Owners: @Aiko-IT-Systems/aitsys-leader

Readme
  README.md
Owners: @Aiko-IT-Systems/aitsys-leader

Update README.md
  README.md
Owners: @Aiko-IT-Systems/aitsys-leader

Update README.md
  README.md
Owners: @Aiko-IT-Systems/aitsys-leader

Update README.md
  README.md
Owners: @Aiko-IT-Systems/aitsys-leader

Update README.md
  README.md
Owners: @Aiko-IT-Systems/aitsys-leader

chore(deps): update dotnet 8 to 8.0.201
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/documentation.yml
  .github/workflows/release.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

chore(deps): bump dcs
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: start articles for oauth2 web
  .devcontainer/devcontainer.json
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/intro.md
  DisCatSharp.Extensions.Docs/articles/extensions/twofactor_commands/intro.md
  DisCatSharp.Extensions.Docs/articles/toc.yml
  DisCatSharp.Extensions.Docs/toc.yml
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebConfiguration.cs
  DisCatSharp.Extensions.code-workspace
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: fix a few things
  DisCatSharp.Extensions.Docs/api/DisCatSharp.Extensions.OAuth2Web/.manifest
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/intro.md
  DisCatSharp.Extensions.Docs/articles/extensions/twofactor_commands/intro.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

mew
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/intro.md
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/requirements.md
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/usage.md
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/usage_sharded.md
  DisCatSharp.Extensions.Docs/articles/index.md
  DisCatSharp.Extensions.Docs/articles/toc.yml
  DisCatSharp.Extensions.Docs/images/oauth2web_nuget.png
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebConfiguration.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtension.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtensionUtilities.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: add missing comment
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/usage.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: more documentation about oauth2 web
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/intro.md
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/usage.md
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/usage_sharded.md
  DisCatSharp.Extensions.Docs/articles/toc.yml
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: fix tabs
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/usage.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

nya
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/usage.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update OAuth2Web setup and usage
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/usage.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Fix OAuth2WebExtension and TwoFactorExtension nullability
  DisCatSharp.Extensions.OAuth2Web/ExtensionMethods.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/ExtensionMethods.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Fix capitalization in generated configuration
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/requirements.md
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/usage.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update TwoFactorExtension constructor signature
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Add GenerateOAuth2Url method to OAuth2WebExtension
  DisCatSharp.Extensions.Docs/api/DisCatSharp.Extensions.OAuth2Web/.manifest
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/usage.md
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update OAuth2WebConfiguration.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebConfiguration.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Fix OAuth2 URL generation
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/usage.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update usage.md to revoke access token as ephemeral
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/usage.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Add visual example for OAuth2 web usage
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/usage.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Add message to response in HandleOAuth2Async method
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update OAuth2WebExtension.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update OAuth2WebExtension.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore(deps): update dotnet sdk
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/documentation.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

docs: fix link to main docs
  DisCatSharp.Extensions.Docs/articles/index.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore(deps): bump dotnet
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/documentation.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

bump to 3.0.3 nightly
  Targets/Version.targets
Owners: @Aiko-IT-Systems/aitsys-leader

[ci skip] for later nightlies
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: possibility to output html instead of json for oauth2 flow
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebConfiguration.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

.github/CODEOWNERS:

* @Aiko-IT-Systems/discatsharp @NyuwBot @Lulalaby

*.yml @Lulalaby
*.ps1 @Lulalaby

*.targets @Aiko-IT-Systems/aitsys-leader
LICENSE.md @Aiko-IT-Systems/aitsys-leader
README.md @Aiko-IT-Systems/aitsys-leader

/.github/ @Lulalaby @NyuwBot @Aiko-IT-Systems/aitsys-leader
