Repository Aiko-IT-Systems/DisCatSharp.Extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

fix
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

🎉 net10 support
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  Targets/Library.targets
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

chore: prepare for upstream10.7.0 releease as 4.0.0
  Directory.Build.props
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  Targets/Version.targets
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

Revert "chore: prepare for upstream10.7.0 releease as 4.0.0"
  Directory.Build.props
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  Targets/Version.targets
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

chore!: Migrate to slnx
  DisCatSharp.Extensions.slnx
  old_solutions/DisCatSharp.Extensions.sln
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update codeql.yml
  .github/workflows/codeql.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

Update codeql.yml
  .github/workflows/codeql.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

[ci skip] new analyzer
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  DisCatSharp.ruleset
  Targets/Package.targets
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

[ci skip] license: update license year
  LICENSE.md
Owners: @Aiko-IT-Systems/aitsys-leader

reeeeeeeeeeeeee
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore: update invite links
  .github/ISSUE_TEMPLATE/config.yml
  DisCatSharp.Extensions.Docs/articles/misc/reporting_issues.md
  DisCatSharp.Extensions.Docs/dcs/public/main.js
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader, @Aiko-IT-Systems/discatsharp

Update package versions in extension projects
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update docfx.json
  DisCatSharp.Extensions.Docs/docfx.json
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update .NET 10 version in GitHub workflows
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/documentation.yml
  .github/workflows/release.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

chore: remove old solutions
  DisCatSharp.Extensions.code-workspace
  old_solutions/DisCatSharp.Extensions.sln
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore(actions): update dotnet version to 10.x
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/documentation.yml
  .github/workflows/release.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

chore: update minimum required dcs versions
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: updated modal usage
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/TwoFactorApplicationCommandExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore: bump deps
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore: bump min required dcs version
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/Entities/TwoFactorResponse.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

rework ac tfa to use newer modal components
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/TwoFactorApplicationCommandExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

some null check stuff
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/ApplicationCommandRequireEnrolledTwoFactorAttribute.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/TwoFactorApplicationCommandExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/CommandsNext/CommandRequireEnrolledTwoFactorAttribute.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtensionUtilities.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

rework registering tfa
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/Enums/TwoFactorResult.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/TwoFactorApplicationCommandExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorConfiguration.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtensionUtilities.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

spacing
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/TwoFactorApplicationCommandExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs
  DisCatSharp.Extensions.Docs/articles/extensions/twofactor_commands/intro.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

formatting
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/TwoFactorApplicationCommandExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: fix docs ref
  DisCatSharp.Extensions.Docs/api/DisCatSharp.Extensions.OAuth2Web/toc.yml
  DisCatSharp.Extensions.Docs/api/DisCatSharp.Extensions.SimpleMusicCommands/index.md
  DisCatSharp.Extensions.Docs/api/DisCatSharp.Extensions.SimpleMusicCommands/toc.yml
  DisCatSharp.Extensions.Docs/api/DisCatSharp.Extensions.TwoFactorCommands/toc.yml
  DisCatSharp.Extensions.Docs/api/index.md
  DisCatSharp.Extensions.Docs/articles/extensions/twofactor_commands/intro.md
Owners: @Lulalaby, @Aiko-IT-Systems/discatsharp, @NyuwBot

fix(docs): add missing extension to docs gen
  DisCatSharp.Extensions.Docs/api/DisCatSharp.Extensions.SimpleMusicCommands/toc.yml
  DisCatSharp.Extensions.Docs/docfx.json
Owners: @Lulalaby, @Aiko-IT-Systems/discatsharp, @NyuwBot

switch to typescript for frontend code
  DisCatSharp.Extensions.Translations.Manager/build.cmd
  DisCatSharp.Extensions.Translations.Manager/package-lock.json
  DisCatSharp.Extensions.Translations.Manager/package.json
  DisCatSharp.Extensions.Translations.Manager/wwwroot/app.js
  DisCatSharp.Extensions.Translations.Manager/wwwroot/app.js.map
  DisCatSharp.Extensions.Translations.Manager/wwwroot/app.ts
  DisCatSharp.Extensions.Translations.Manager/wwwroot/jsconfig.json
  DisCatSharp.Extensions.Translations.Manager/wwwroot/tsconfig.json
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore(deps): bump dcs min version
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore(deps): bump dcs min version 2
  DisCatSharp.Extensions.Translations.ApplicationCommands/DisCatSharp.Extensions.Translations.ApplicationCommands.csproj
  DisCatSharp.Extensions.Translations.CommandsNext/DisCatSharp.Extensions.Translations.CommandsNext.csproj
  DisCatSharp.Extensions.Translations.Manager/DisCatSharp.Extensions.Translations.Manager.csproj
  DisCatSharp.Extensions.Translations/DisCatSharp.Extensions.Translations.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore(deps): bump dcs min version
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore(deps): adjust other deps to core required versions
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore(deps): adjust other deps to core required versions
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore(deps): adjust other deps to core required versions 2
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.Translations/DisCatSharp.Extensions.Translations.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore: change version headers to actually describe versions
  README.md
Owners: @Aiko-IT-Systems/aitsys-leader

chore: new release with net11 and dcs 10.7.0
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  README.md
  Targets/Library.targets
  Targets/Version.targets
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader, @Aiko-IT-Systems/discatsharp

[ci skip] chore: bump to nightly support
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  Targets/Version.targets
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

build: remove net8 support
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  Targets/Library.targets
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader, @Aiko-IT-Systems/discatsharp

chore(deps): bump packages
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  LICENSE.md
  Targets/DisCatSharp.targets
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

.github/CODEOWNERS:

* @Aiko-IT-Systems/discatsharp @NyuwBot @Lulalaby

*.yml @Lulalaby
*.ps1 @Lulalaby

*.targets @Aiko-IT-Systems/aitsys-leader
LICENSE.md @Aiko-IT-Systems/aitsys-leader
README.md @Aiko-IT-Systems/aitsys-leader

/.github/ @Lulalaby @NyuwBot @Aiko-IT-Systems/aitsys-leader
