Repository Aiko-IT-Systems/DisCatSharp.Extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

chore(actions): bump dotnet to 7.0.400
  .github/workflows/build.yml
  .github/workflows/documentation.yml
  .github/workflows/release.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

Update docfx.json
  DisCatSharp.Extensions.Docs/docfx.json
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix refs
  DisCatSharp.Extensions.Docs/api/DisCatSharp.Extensions.OAuth2Web/.manifest
  DisCatSharp.Extensions.Docs/api/DisCatSharp.Extensions.OAuth2Web/toc.yml
  DisCatSharp.Extensions.Docs/api/DisCatSharp.Extensions.TwoFactorCommands/.manifest
  DisCatSharp.Extensions.Docs/api/DisCatSharp.Extensions.TwoFactorCommands/toc.yml
  DisCatSharp.Extensions.Docs/articles/extensions/twofactor_commands/intro.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update intro.md
  DisCatSharp.Extensions.Docs/articles/extensions/twofactor_commands/intro.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Add xrefmap manually
  DisCatSharp.Extensions.Docs/docfx.json
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: update template
  DisCatSharp.Extensions.Docs/dcs/layout/_master.tmpl
  DisCatSharp.Extensions.Docs/dcs/public/docfx.min.js
  DisCatSharp.Extensions.Docs/dcs/public/docfx.min.js.map
  DisCatSharp.Extensions.Docs/dcs/toc.json.js
  DisCatSharp.Extensions.Docs/dcs/toc.json.tmpl
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

nullability & code style
  DisCatSharp.Extensions.TwoFactorCommands/ExtensionMethods.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update Version.targets
  Targets/Version.targets
Owners: @Aiko-IT-Systems/aitsys-leader

chore(deps): bump dotnet
  .github/workflows/build.yml
  .github/workflows/documentation.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

chore: bump 2.0.2
  Targets/Version.targets
Owners: @Aiko-IT-Systems/aitsys-leader

chore(deps): bump DisCatSharp.Analyzer.Roselyn to 6.x
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update Version.targets
  Targets/Version.targets
Owners: @Aiko-IT-Systems/aitsys-leader

pin docfx
  .github/workflows/documentation.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

remove transist package DatabaseWrapper
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: net8 support
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  Targets/Library.targets
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

chore(actions): bump net7 version
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/documentation.yml
  .github/workflows/release.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

fix(actions): fix build
  .github/workflows/build.yml
  .github/workflows/documentation.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

Update OAuth2WebExtension.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update NuGet.targets
  Targets/NuGet.targets
Owners: @Aiko-IT-Systems/aitsys-leader

fix: oauth2 waitfortoken did not encode state & fired too early
  DisCatSharp.Extensions.OAuth2Web/EventHandling/AuthorizationCodeEventWaiter.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat!: dynamic start port
  DisCatSharp.Extensions.OAuth2Web/ExtensionMethods.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebConfiguration.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update release.yml
  .github/workflows/release.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

fix stuff
  DisCatSharp.Extensions.OAuth2Web/ExtensionMethods.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebConfiguration.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat(oauth2web): apache proxy config generation
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebConfiguration.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtension.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtensionUtilities.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs(oauth2web): document new proxy config gen methods
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtensionUtilities.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat(oauth2web): redirect uri checks
  DisCatSharp.Extensions.OAuth2Web/ExtensionMethods.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebConfiguration.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] meow
  Targets/DisCatSharp.targets
Owners: @Aiko-IT-Systems/aitsys-leader

chore!: drop net6 support
  .editorconfig
  .gitattributes
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  DisCatSharp.Extensions.sln
  Targets/Library.targets
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

bump
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore: license year
  LICENSE.md
Owners: @Aiko-IT-Systems/aitsys-leader

code style
  DisCatSharp.Extensions.OAuth2Web/EventArgs/AccessTokenRevokeEventArgs.cs
  DisCatSharp.Extensions.OAuth2Web/ExtensionMethods.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtension.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtensionUtilities.cs
  DisCatSharp.Extensions.OAuth2Web/appsettings.Development.json
  DisCatSharp.Extensions.OAuth2Web/appsettings.json
  DisCatSharp.Extensions.TwoFactorCommands/Entities/TwoFactorResponse.cs
  DisCatSharp.Extensions.TwoFactorCommands/ExtensionMethods.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/TwoFactorApplicationCommandExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/CommandsNext/TwoFactorCommandsNextExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/Properties/AssemblyProperties.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

bump dcs 10.5
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

dum dum dum
  .github/workflows/documentation.yml
  DisCatSharp.Extensions.Docs/dcs/_redirects
  DisCatSharp.Extensions.Docs/dcs/layout/_master.tmpl
  DisCatSharp.Extensions.Docs/dcs/plugins/AITSYS.Docfx.DescriptionGenerator.deps.json
  DisCatSharp.Extensions.Docs/dcs/plugins/AITSYS.Docfx.DescriptionGenerator.dll
  DisCatSharp.Extensions.Docs/dcs/plugins/AITSYS.Docfx.LastModified.deps.json
  DisCatSharp.Extensions.Docs/dcs/plugins/AITSYS.Docfx.LastModified.dll
  DisCatSharp.Extensions.Docs/dcs/plugins/AngleSharp.dll
  DisCatSharp.Extensions.Docs/dcs/plugins/LibGit2Sharp.dll
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/linux-arm/native/libgit2-a2bde63.so
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/linux-arm64/native/libgit2-a2bde63.so
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/linux-musl-arm/native/libgit2-a2bde63.so
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/linux-musl-arm64/native/libgit2-a2bde63.so
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/linux-musl-x64/native/libgit2-a2bde63.so
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/linux-x64/native/libgit2-a2bde63.so
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/osx-arm64/native/libgit2-a2bde63.dylib
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/osx-x64/native/libgit2-a2bde63.dylib
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/win-arm64/native/git2-a2bde63.dll
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/win-x64/native/git2-a2bde63.dll
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/win-x86/native/git2-a2bde63.dll
  Targets/Version.targets
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader, @Aiko-IT-Systems/discatsharp

Update renovate.json
  renovate.json
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore(deps): update dcs
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore(deps): update dcs
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix(actions): restore tasks
  .github/workflows/build.yml
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtension.cs
  rebuild-lib.ps1
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader, @Aiko-IT-Systems/discatsharp

nom
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

nommm
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.OAuth2Web/EventHandling/AuthorizationCodeEventWaiter.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtension.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtensionUtilities.cs
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update AuthorizationCodeCollectRequest.cs
  DisCatSharp.Extensions.OAuth2Web/EventHandling/Requests/AuthorizationCodeCollectRequest.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

.github/CODEOWNERS:

* @Aiko-IT-Systems/discatsharp @NyuwBot @Lulalaby

*.yml @Lulalaby
*.ps1 @Lulalaby

*.targets @Aiko-IT-Systems/aitsys-leader
LICENSE.md @Aiko-IT-Systems/aitsys-leader
README.md @Aiko-IT-Systems/aitsys-leader

/.github/ @Lulalaby @NyuwBot @Aiko-IT-Systems/aitsys-leader
