Repository Aiko-IT-Systems/DisCatSharp.Extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

.github/CODEOWNERS:

* @Aiko-IT-Systems/discatsharp @NyuwBot @Lulalaby

*.yml @Lulalaby
*.ps1 @Lulalaby

*.targets @Aiko-IT-Systems/aitsys-leader
LICENSE.md @Aiko-IT-Systems/aitsys-leader
README.md @Aiko-IT-Systems/aitsys-leader

/.github/ @Lulalaby @NyuwBot @Aiko-IT-Systems/aitsys-leader

fix: response config was readonly
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorConfiguration.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update TwoFactorExtensionUtilities.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtensionUtilities.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fuck
  .github/workflows/build.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

[ci skip] aaa
  .github/workflows/documentation.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

Update index.md
  DisCatSharp.Extensions.Docs/index.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Add files via upload
  logo.png
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

bump
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  DisCatSharp.Extensions.sln
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update documentation.yml
  .github/workflows/documentation.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

feat(twofactor): More customizability
  DisCatSharp.Extensions.TwoFactorCommands/Enums/TwoFactorResponse.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/TwoFactorApplicationCommandExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/Properties/TwoFactorResponse.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorConfiguration.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore(deps): Update to discatsharp 10.3.3-nightly-041
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore(docs): Add additional warning to ShowResponse
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/TwoFactorApplicationCommandExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorConfiguration.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore: Consistency
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/CommandsNext/TwoFactorCommandsNextExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore: docs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/TwoFactorApplicationCommandExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/CommandsNext/TwoFactorCommandsNextExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/Properties/TwoFactorResponse.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: Use Indexer
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/TwoFactorApplicationCommandExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: Re-Add NotEnrolled Message with Configuration
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/TwoFactorApplicationCommandExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/Properties/TwoFactorResponse.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorConfiguration.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Oopsies
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/TwoFactorApplicationCommandExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Supply ComponentInteractionCreateEventArgs instead of DiscordInteraction
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/TwoFactorApplicationCommandExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/Properties/TwoFactorResponse.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Cleanup
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/TwoFactorApplicationCommandExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update intro.md
  DisCatSharp.Extensions.Docs/articles/extensions/twofactor_commands/intro.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update DisCatSharp.Extensions.Docs/articles/extensions/twofactor_commands/intro.md
  DisCatSharp.Extensions.Docs/articles/extensions/twofactor_commands/intro.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update DisCatSharp.Extensions.Docs/articles/extensions/twofactor_commands/intro.md
  DisCatSharp.Extensions.Docs/articles/extensions/twofactor_commands/intro.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update intro.md
  DisCatSharp.Extensions.Docs/articles/extensions/twofactor_commands/intro.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip]
  DisCatSharp.Extensions.Docs/articles/extensions/twofactor_commands/intro.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Move TwoFactorResponse to Entities
  DisCatSharp.Extensions.TwoFactorCommands/Entities/TwoFactorResponse.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/TwoFactorApplicationCommandExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/CommandsNext/TwoFactorCommandsNextExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

im a dumbass
  DisCatSharp.Extensions.TwoFactorCommands/Enums/TwoFactorResult.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Rename Interaction to ComponentInteraction
  DisCatSharp.Extensions.TwoFactorCommands/Entities/TwoFactorResponse.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/TwoFactorApplicationCommandExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

nyum
  DisCatSharp.Extensions.TwoFactorCommands/Enums/TwoFactorResult.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/TwoFactorApplicationCommandExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] fix: we target net7
  DisCatSharp.Extensions.Docs/articles/preamble.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] fix: i yeeted images lmfao
  DisCatSharp.Extensions.Docs/images/.gitkeep
  DisCatSharp.Extensions.Docs/images/two_factor_enrollment_message_example.png
  DisCatSharp.Extensions.Docs/images/two_factor_request_example.png
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: docs
  DisCatSharp.Extensions.Docs/articles/extensions/twofactor_commands/intro.md
  DisCatSharp.Extensions.Docs/docfx.json
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] aaaaa
  DisCatSharp.Extensions.Docs/articles/extensions/twofactor_commands/intro.md
  DisCatSharp.Extensions.Docs/docfx.json
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] fuck u xref
  DisCatSharp.Extensions.Docs/docfx.json
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

meow
  .github/workflows/build.yml
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.OAuth2Web/EventArgs/AccessTokenRefreshEventArgs.cs
  DisCatSharp.Extensions.OAuth2Web/EventArgs/AccessTokenRevokeEventArgs.cs
  DisCatSharp.Extensions.OAuth2Web/EventArgs/AuthorizationCodeExchangeEventArgs.cs
  DisCatSharp.Extensions.OAuth2Web/EventArgs/AuthorizationCodeReceiveEventArgs.cs
  DisCatSharp.Extensions.OAuth2Web/EventArgs/DiscordOAuth2EventArgs.cs
  DisCatSharp.Extensions.OAuth2Web/EventHandling/AuthorizationCodeEventWaiter.cs
  DisCatSharp.Extensions.OAuth2Web/EventHandling/Requests/AuthorizationCodeCollectRequest.cs
  DisCatSharp.Extensions.OAuth2Web/EventHandling/Requests/AuthorizationCodeMatchRequest.cs
  DisCatSharp.Extensions.OAuth2Web/ExtensionMethods.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2Result.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebConfiguration.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtension.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtensionUtilities.cs
  DisCatSharp.Extensions.OAuth2Web/appsettings.Development.json
  DisCatSharp.Extensions.OAuth2Web/appsettings.json
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorConfiguration.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtension.cs
  DisCatSharp.Extensions.sln
  Targets/DisCatSharp.targets
  Targets/Library.targets
  Targets/NuGet.targets
  Targets/Version.targets
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader, @Aiko-IT-Systems/discatsharp

[ci skip] mew
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebConfiguration.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: naming
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: pin min versions
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  DisCatSharp.Extensions.sln
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: fix docs
  DisCatSharp.Extensions.OAuth2Web/EventHandling/AuthorizationCodeEventWaiter.cs
  DisCatSharp.Extensions.OAuth2Web/EventHandling/Requests/AuthorizationCodeMatchRequest.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: packagable
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  Targets/NuGet.targets
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

Update docfx.json
  DisCatSharp.Extensions.Docs/docfx.json
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

meoof
  DisCatSharp.Extensions.Docs/dcs/public/chunk-3GP2VSI3.min.js.map
  DisCatSharp.Extensions.Docs/docfx.json
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby
