Repository Aiko-IT-Systems/DisCatSharp.Extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

.github/CODEOWNERS:

* @Aiko-IT-Systems/discatsharp @NyuwBot @Lulalaby

*.yml @Lulalaby
*.ps1 @Lulalaby

*.targets @Aiko-IT-Systems/aitsys-leader
LICENSE.md @Aiko-IT-Systems/aitsys-leader
README.md @Aiko-IT-Systems/aitsys-leader

/.github/ @Lulalaby @NyuwBot @Aiko-IT-Systems/aitsys-leader

Update OAuth2WebConfiguration.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebConfiguration.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update OAuth2WebExtension.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update OAuth2WebConfiguration.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebConfiguration.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: bleh
  DisCatSharp.Extensions.OAuth2Web/EventHandling/AuthorizationCodeEventWaiter.cs
  DisCatSharp.Extensions.OAuth2Web/ExtensionMethods.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebConfiguration.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore: bump dcs
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore(deps): bump dotnet
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/documentation.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

a
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] bump
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  Targets/Version.targets
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

Revert "[ci skip] bump"
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  Targets/Version.targets
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

mew
  DisCatSharp.Extensions.Docs/dcs/layout/_master.tmpl
  DisCatSharp.Extensions.Docs/dcs/logo-pride.png
  DisCatSharp.Extensions.Docs/dcs/public/main.js
  Targets/DisCatSharp.targets
  Targets/Version.targets
  logo-pride.png
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

bump
  Targets/Version.targets
Owners: @Aiko-IT-Systems/aitsys-leader

docs: port changes from main lib over to docs of extensions
  DisCatSharp.Extensions.Docs/api/.gitignore
  DisCatSharp.Extensions.Docs/api/DisCatSharp.Extensions.OAuth2Web/.manifest
  DisCatSharp.Extensions.Docs/api/DisCatSharp.Extensions.OAuth2Web/index.md
  DisCatSharp.Extensions.Docs/api/DisCatSharp.Extensions.TwoFactorCommands/.manifest
  DisCatSharp.Extensions.Docs/api/DisCatSharp.Extensions.TwoFactorCommands/index.md
  DisCatSharp.Extensions.Docs/api/index.md
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/intro.md
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/requirements.md
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/usage.md
  DisCatSharp.Extensions.Docs/articles/extensions/twofactor_commands/intro.md
  DisCatSharp.Extensions.Docs/articles/index.md
  DisCatSharp.Extensions.Docs/articles/misc/nightly_builds.md
  DisCatSharp.Extensions.Docs/articles/misc/reporting_issues.md
  DisCatSharp.Extensions.Docs/index.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore(deps): update dependencies
  DisCatSharp.Extensions.OAuth2Web/EventArgs/AccessTokenRefreshEventArgs.cs
  DisCatSharp.Extensions.OAuth2Web/EventArgs/AccessTokenRevokeEventArgs.cs
  DisCatSharp.Extensions.OAuth2Web/EventArgs/AuthorizationCodeExchangeEventArgs.cs
  DisCatSharp.Extensions.OAuth2Web/EventArgs/AuthorizationCodeReceiveEventArgs.cs
  DisCatSharp.Extensions.OAuth2Web/EventArgs/DiscordOAuth2EventArgs.cs
  DisCatSharp.Extensions.OAuth2Web/EventHandling/AuthorizationCodeEventWaiter.cs
  DisCatSharp.Extensions.OAuth2Web/EventHandling/Requests/AuthorizationCodeCollectRequest.cs
  DisCatSharp.Extensions.OAuth2Web/EventHandling/Requests/AuthorizationCodeMatchRequest.cs
  DisCatSharp.Extensions.OAuth2Web/ExtensionMethods.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2Result.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebConfiguration.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtension.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtensionUtilities.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: net9 for extensions
  Targets/Library.targets
Owners: @Aiko-IT-Systems/aitsys-leader

chore(deps): Bump dependencies
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader, @Aiko-IT-Systems/discatsharp

docs: update net version info
  DisCatSharp.Extensions.Docs/articles/index.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore(code-style): code cleanup!
  .editorconfig
  Directory.Build.props
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  Targets/DisCatSharp.targets
  Targets/NuGet.targets
  Targets/Package.targets
  Targets/Version.targets
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

fix(actions): token is not required anymore
  .github/workflows/documentation.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

docs: fix docs
  DisCatSharp.Extensions.Docs/docfx.json
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: fix stuff
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  Targets/Package.targets
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

[ci skip] chore: bump version number
  Targets/Version.targets
Owners: @Aiko-IT-Systems/aitsys-leader

Update release.yml
  .github/workflows/release.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

Update build.yml
  .github/workflows/build.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

Update codeql.yml
  .github/workflows/codeql.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

Update documentation.yml
  .github/workflows/documentation.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

chore!: removed .NET 7 support
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  Targets/Library.targets
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader, @Aiko-IT-Systems/discatsharp

[ci skip] fix: update docfx plugins
  DisCatSharp.Extensions.Docs/dcs/plugins/AITSYS.Docfx.DescriptionGenerator.deps.json
  DisCatSharp.Extensions.Docs/dcs/plugins/AITSYS.Docfx.DescriptionGenerator.dll
  DisCatSharp.Extensions.Docs/dcs/plugins/AITSYS.Docfx.LastModified.deps.json
  DisCatSharp.Extensions.Docs/dcs/plugins/AITSYS.Docfx.LastModified.dll
  DisCatSharp.Extensions.Docs/dcs/plugins/AngleSharp.dll
  DisCatSharp.Extensions.Docs/dcs/plugins/LibGit2Sharp.dll
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/linux-arm/native/libgit2-3f4182d.so
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/linux-arm/native/libgit2-a2bde63.so
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/linux-arm/native/libgit2-e632535.so
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/linux-arm64/native/libgit2-3f4182d.so
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/linux-arm64/native/libgit2-a2bde63.so
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/linux-arm64/native/libgit2-e632535.so
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/linux-musl-arm/native/libgit2-3f4182d.so
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/linux-musl-arm/native/libgit2-a2bde63.so
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/linux-musl-arm/native/libgit2-e632535.so
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/linux-musl-arm64/native/libgit2-3f4182d.so
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/linux-musl-arm64/native/libgit2-a2bde63.so
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/linux-musl-arm64/native/libgit2-e632535.so
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/linux-musl-x64/native/libgit2-3f4182d.so
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/linux-musl-x64/native/libgit2-a2bde63.so
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/linux-musl-x64/native/libgit2-e632535.so
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/linux-ppc64le/native/libgit2-3f4182d.so
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/linux-x64/native/libgit2-3f4182d.so
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/linux-x64/native/libgit2-a2bde63.so
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/linux-x64/native/libgit2-e632535.so
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/osx-arm64/native/libgit2-3f4182d.dylib
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/osx-arm64/native/libgit2-a2bde63.dylib
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/osx-arm64/native/libgit2-e632535.dylib
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/osx-x64/native/libgit2-3f4182d.dylib
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/osx-x64/native/libgit2-a2bde63.dylib
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/osx-x64/native/libgit2-e632535.dylib
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/win-arm64/native/git2-3f4182d.dll
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/win-arm64/native/git2-a2bde63.dll
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/win-arm64/native/git2-e632535.dll
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/win-x64/native/git2-3f4182d.dll
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/win-x64/native/git2-a2bde63.dll
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/win-x64/native/git2-e632535.dll
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/win-x86/native/git2-3f4182d.dll
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/win-x86/native/git2-a2bde63.dll
  DisCatSharp.Extensions.Docs/dcs/plugins/runtimes/win-x86/native/git2-e632535.dll
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore: bump packages
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] upcoming feature: simple music commands
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/Commands/MusicCommands.cs
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/ExtensionMethods.cs
  DisCatSharp.Extensions.SimpleMusicCommands/SimpleMusicCommandsExtension.cs
  DisCatSharp.Extensions.sln
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] fix: fix implementation
  DisCatSharp.Extensions.SimpleMusicCommands/Commands/MusicCommands.cs
  DisCatSharp.Extensions.SimpleMusicCommands/ExtensionMethods.cs
  DisCatSharp.Extensions.SimpleMusicCommands/SimpleMusicCommandsExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] add now_playing command
  DisCatSharp.Extensions.SimpleMusicCommands/Commands/MusicCommands.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: responses
  DisCatSharp.Extensions.SimpleMusicCommands/Commands/MusicCommands.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: use nightly package for new extension
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: docs about simple music commands
  DisCatSharp.Extensions.Docs/articles/extensions/simple_music_commands/intro.md
  DisCatSharp.Extensions.Docs/articles/toc.yml
  DisCatSharp.Extensions.Docs/images/simple_music_commands_commandblock_1.png
  DisCatSharp.Extensions.Docs/images/simple_music_commands_commandblock_2.png
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix(deps): bump dcs for fix
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: remove backport net7 note
  DisCatSharp.Extensions.Docs/articles/index.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update README.md
  README.md
Owners: @Aiko-IT-Systems/aitsys-leader

chore: cleanup
  DisCatSharp.Extensions.SimpleMusicCommands/ExtensionMethods.cs
  DisCatSharp.Extensions.TwoFactorCommands/Entities/TwoFactorResponse.cs
  DisCatSharp.Extensions.TwoFactorCommands/Enums/TwoFactorResult.cs
  DisCatSharp.Extensions.TwoFactorCommands/ExtensionMethods.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/ApplicationCommandRequireEnrolledTwoFactorAttribute.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/ApplicationCommands/TwoFactorApplicationCommandExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/CommandsNext/CommandRequireEnrolledTwoFactorAttribute.cs
  DisCatSharp.Extensions.TwoFactorCommands/Extensions/CommandsNext/TwoFactorCommandsNextExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorConfiguration.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtension.cs
  DisCatSharp.Extensions.TwoFactorCommands/TwoFactorExtensionUtilities.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] ref 10.6.6
  BUILDING.md
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  Targets/Version.targets
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

fuck me
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebConfiguration.cs
  DisCatSharp.Extensions.OAuth2Web/OAuth2WebExtension.cs
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  Targets/Version.targets
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader
