Repository Aiko-IT-Systems/DisCatSharp.Extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

chore: Update VersionPrefix to 3.3.2
  Targets/Version.targets
Owners: @Aiko-IT-Systems/aitsys-leader

Revert "chore: Update VersionPrefix to 3.3.2"
  Targets/Version.targets
Owners: @Aiko-IT-Systems/aitsys-leader

fix: ranges
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: i hate this
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Reapply "chore: Update VersionPrefix to 3.3.2"
  Targets/Version.targets
Owners: @Aiko-IT-Systems/aitsys-leader

fix: wrong release name
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore: bump deps
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  DisCatSharp.Extensions.SimpleMusicCommands/DisCatSharp.Extensions.SimpleMusicCommands.csproj
  DisCatSharp.Extensions.TwoFactorCommands/DisCatSharp.Extensions.TwoFactorCommands.csproj
  Targets/Version.targets
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

docs(oauth2web): deprecate in favor of aspnet ingress
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/requirements.md
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/usage.md
  DisCatSharp.Extensions.OAuth2Web/DisCatSharp.Extensions.OAuth2Web.csproj
  README.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

docs(oauth2web): expand deprecation and migration docs
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/intro.md
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/migration.md
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/requirements.md
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/usage.md
  DisCatSharp.Extensions.Docs/articles/toc.yml
  README.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

build(oauth2web): document nuget deprecation follow-up
  .github/workflows/release.yml
  BUILDING.md
  DisCatSharp.Extensions.Docs/articles/extensions/oauth2_web/migration.md
  README.md
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader, @Aiko-IT-Systems/discatsharp

ci: Add immutable extension releases
  .github/release.yml
  .github/scripts/release-tools.mjs
  .github/scripts/release-tools.test.mjs
  .github/workflows/release.yml
  Targets/DisCatSharp.targets
  Targets/Version.targets
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

fix(ci): fix pack script
  pack-docs.ps1
Owners: @Lulalaby

docs: Link the canonical Agent Skills guide
  DisCatSharp.Extensions.Docs/articles/misc/agent_setup.md
  DisCatSharp.Extensions.Docs/articles/toc.yml
  DisCatSharp.Extensions.Docs/index.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore(ci): switch to trusted publishing
  .github/workflows/release.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

chore(actions): use build artifacts
  .github/workflows/build.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

fix: missing readme
  DisCatSharp.Targets/DisCatSharp.targets
Owners: @Aiko-IT-Systems/aitsys-leader

fix(actions): upload sentry debug as well on release
  .github/workflows/release.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

[ci skip] fix(actions): remove unused package
  .github/scripts/release-tools.mjs
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

fix(actions): commit workflow fix
  .github/workflows/documentation.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

[ci skip] fix(actions): limit retention days
  .github/workflows/build.yml
  .github/workflows/documentation.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

[ci skip] fix(actions): limit retention + clean old runs
  .github/workflows/cleanup-actions-storage.yml
  .github/workflows/documentation.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

.github/CODEOWNERS:

* @Aiko-IT-Systems/discatsharp @NyuwBot @Lulalaby

*.yml @Lulalaby
*.ps1 @Lulalaby

*.targets @Aiko-IT-Systems/aitsys-leader
LICENSE.md @Aiko-IT-Systems/aitsys-leader
README.md @Aiko-IT-Systems/aitsys-leader

/.github/ @Lulalaby @NyuwBot @Aiko-IT-Systems/aitsys-leader
